@model CRUDAppUsingWebAPI.Models.Expances

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Expances</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" readonly />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expenseDate" class="control-label"></label>
                <input asp-for="expenseDate" class="form-control" />
                <span asp-validation-for="expenseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dayOfWeek" class="control-label"></label>
                <input asp-for="dayOfWeek" class="form-control" />
                <span asp-validation-for="dayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="spentAmount" class="control-label"></label>
                <input asp-for="spentAmount" class="form-control" />
                <span asp-validation-for="spentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalAmount" class="control-label"></label>
                <input asp-for="totalAmount" class="form-control" />
                <span asp-validation-for="totalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
